.todo {
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  border: 1px solid $secondary-color;
  border-radius: 10px;
  background-color: $primary-color;

  &__title {
    width: 380px;
    padding: 12px 20px;
    color: $white-color;
    word-wrap: break-word;
    letter-spacing: 2px;
    font-size: 20px;

    &--checked {
      text-decoration: line-through;
      color: $danger-color;
    }

    &:disabled {
      background-color: $primary-color;
      border: none;
    }
  }

  &__actions {
    display: flex;
    gap: 4px;
  }
}