.button {
  padding: 12px 20px;
  border-radius: 10px;
  font-family: "Gochi", sans-serif;
  border-color: $primary-color;
  transition: background-color .3s,
  border-color .3s,
  color .3s;

  &:hover {
    cursor: pointer;
    background-color: $primary-color;
    border-color: $white-color;
    color: $white-color;
  }
}