.input {
  width: fit-content;

  &__field {
    border-radius: 10px;
    border-color: $white-color;
    font-family: "Gochi", sans-serif;

    &::placeholder {
      letter-spacing: 1px;
    }

    &:focus {
      border-color: red;
    }
  }

  &__error {
    color: $danger-color;
  }
}